.main-wrapper {
  padding: 60px;
  .text-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
  .text-btn {
    width: 200px;
  }
  .text-point {
    padding: 150px 0;
  }
  .inner-text-point-left {
    padding: 50px 80px 50px 150px !important ;
  }
  .inner-text-point-right {
    padding: 50px 40px 50px 0px !important ;
  }
}
.text {
  padding: 15px 0;
}
